<div class="container">
	<div class="row">
		<h2>Terms and Conditions</h2>

		<p class="well text-">
			This site is purely educational and is built out of my(@Pranava_Swaroop) curiosity and love towards
			Original Twitter app. Any user who wants to use twitter functionality is strictly advised to visit
			the best, original and most importantly reliable site <strong><a href="http://twitter.com" target+"_blank">http://twitter.com</a></strong>


		</p>


	</div>
</div>