<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    
	 <%= link_to(user, method: :delete,
                                  data: { confirm: "You sure?" } ) do%>
    		<span class='glyphicon glyphicon-remove pull-right text-muted'></span>
      <% end %>
  <% end %>
</li>



