<footer class="footer">
  <small>
    <a href="https://twitter.com/Pranava_swaroop">&copy; 2014 Twitter, Inc.</a>
    by Pranava Swaroop
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="https://twitter.com/Pranava_swaroop">Pranava_swaroop</a></li>
    </ul>
  </nav>
</footer>