<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">&copy; 2014 Twitter, Inc.</a>
    by Pranava Swaroop
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="http://google.co.au/">News</a></li>
    </ul>
  </nav>
</footer>