<footer class="footer">
  <small>
    <a href="https://twitter.com/Pranava_swaroop">&copy; 2014 Twitter, Inc.</a>
    by Pranava Swaroop
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="https://twitter.com/Pranava_swaroop">Pranava_swaroop</a></li>
    </ul>
  </nav>
</footer>
<script type="text/javascript">
  

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47866999-2']);
  _gaq.push(['_setDomainName', 'wditwitter.herokuapp.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


</script>


